<!DOCTYPE html>
<html>
<head>
  <title>My Leaflet Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidenav">
        <h2 class="fancy-heading">EleNa</h2>
        <h2 class="fancy-subheading">Configurations</h2>
        <form onsubmit="return false;">
            <label for="maxmin">Elevation Preference</label>
            <br>
            <select id="maxmin">
                <option value="max">Maximize Elevation</option>
                <option value="min">Minimize Elevation</option>
            </select>
            <br>
            <label for="percentage">Elevation Max path limit (x%)</label>
            <br>
            <input type="number" id="percentage" name="percentage" min="0" max="100" step="1" value="0">
        </form>
        <hr>
        <div class="results">
            <!-- Result content goes here -->
            <h2 class="results">Legend</h2>
            <p>Shortest Route:</p>
            <p style="color: black;">Dashed Black Line</p>
            <br>
            <p>EleNa Route:</p>
            <p style="color: red;">Red Line</p>
            
        </div>
        <div id="results" class="results">
            <!-- Result content goes here -->
            <h2 class="results">Results</h2>
            <p>Source:</p>
            <p id="source">0.0 0.0</p>
            <br>
            <p>Destination:</p>
            <p id="dest">0.0 0.0</p>
            <br>
            <p>Total Distance (m):</p>
            <p id="elevgain">0 meters</p>
            <br>
            <p>Elevation Gain (m):</p>
            <p id="totaldist">0 meters</p>
            <br>
            <p>Elevation Drop (m):</p>
            <p id="elevdrop">0 meters</p>
        </div>
    </div>

    <div class="main">
        <div id="map" class="map"></div>
    </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>